# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.datasource
*.ReSharper
*.dotCover
*.wixpdb
*.tmp_proj
[Bb]uildOutput/
[Tt]est[Rr]esult/
[Bb]in
packages
[Dd]ebug*/
[Oo]bj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
BuildProcessTemplates/*
Published/*
[Tt]humbs.db
[Uu]pgradeLog*.[Xx][Mm][Ll]
_[Uu]pgradeReport_Files*/
*.build.csdef
[Pp]ackage/*
ASPNETDB.MDF
aspnetdb_log.ldf
*.orig
Services.config
log.txt*
*.docstates
__TestData/
*.err.txt
*.typemock.*
*.typemock
*.db
*.ncrunchproject
*.ncrunchsolution
*~
.idea/
.sass-cache/
/*.dotCover
/src/IQ.ProductLibrary.API/bundles/Core.Model
/build/
[Ii]ndexes
*.lock
/tools/IISExpress/TestApps
/tools/IISExpress/AppServer/applicationhost.config
_package/*
catalog.zip
/src/IQ.ProductLibrary.Web.Api/logs


